.rowEnter {
	opacity: 0;
	transform: translateY(-20px);
}

.rowEnterActive {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.5s, transform 0.5s;
}

.rowExit {
	opacity: 1;
}

.rowExitActive {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s, transform 0.5s;
}
